<div id="conteudo">

  <div id="produto">
    <div class="imagem">
      <img src="resources/img/bolo.jpg" alt="bolo" /> <!-- ACHAR E USAR IMAGENS MAIS ADEQUADAS -->
    </div>
    <h2>Torta de morango</h2>
    <h3>Descrição:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel ipsum vehicula, venenatis leo nec, ornare felis.</p>
    <h3>Categorias:</h3>
    <p>
      <span><a href="#">Bolo</a></span>
      <span><a href="#">Chocolate</a></span>
    </p>
    <h3>Preço:</h3>
    <p>R$ 90,00</p>
    <form action="#" method="post" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="id" value="2" />
      <input type="submit" value="Adicionar ao carrinho" />
    </form>
    <p><a ui-sref="lista">Voltar</a></p>
  </div>

</div>
