<ion-view view-title="Camera">
  <ion-content>
			<button ng-click="tirarFoto()" class="button button-block button-primary">Tirar foto</button>
			<button ng-click="selecionarFoto()" class="button button-block button-primary">Selecionar foto</button>
			<button ng-click="vibrar()" class="button button-block button-primary">Vibrar</button>
			<div>
				<img ng-show="imageSrc !== undefined" ng-src="{{imageSrc}}" style="text-align: center">
				<p><label>Latitude:</label> {{latitude}}</p>
				<p><label>Longitude:</label> {{longitude}}</p>
			</div>
			<p>xpto2</p>
  </ion-content>
</ion-view>
