<ion-view view-title="Recursos nativos">
  <ion-content>
    <button ng-click="tirarFoto()" class="button button-block button-balanced">Tirar foto</button>
    <button ng-click="selecionarFoto()" class="button button-block button-energized">Selecionar foto</button>
    <button ng-click="obterLocalizacao()" class="button button-block button-primary">Obter localização</button>
    <button ng-click="vibrar()" class="button button-block button-assertive">Vibrar</button>
    <div>
      <img ng-show="imageSrc !== undefined" ng-src="{{imageSrc}}" style="text-align: center">
      <p><label>Latitude:</label> {{latitude}}</p>
      <p><label>Longitude:</label> {{longitude}}</p>
    </div>

    <p><label>Click to call:</label> <a href="tel:+51 11 99999 9999">Ligar</a></p>
    <p>xpto3</p>
  </ion-content>
</ion-view>
